table{
    width : 450px;
    height : 450px;
    border : solid 3px rgb(150, 4, 4);
  
}
.td{
    text-align: center;
    align-items: center;
    font-size: 8vw;
    color: green;
}
td.O{
    text-align: center;
    align-items: center;
    font-size: 8vw;
    color: red
}

td{
    
        border : solid 3px rgb(49, 22, 123);
          
        width : 33%;
        height : 33%;
        
}

button{
   
    margin-top: 3%;
}

.aligne{
   display: flex;
    flex-direction: column;
    align-items: center; 
}
h1,h2{
    color: #6100fb;
}